*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.loading-text{
    font-size: 50px;
    color: antiquewhite;
    position: absolute;
}

.pic-cover{
    position: absolute;
    background-image: url("../images/nature.jpg");
    background-size: auto;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}