*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

h1{
    margin: 15px 15px;
}

.box-container{
    display: flex;
    flex-direction: column;
    .content-box{
        background-color: rgba(144, 22, 33, 0.5);
        border-radius: 15px;
        margin: 20px;
        padding: 50px 70px;
        font-size: 48px;
        font-weight: 700;
        color: aliceblue;
        box-shadow: 5px 5px 5px gray;
        transform: translateX(300%);
        transition: transform 0.4s ease;
        &:nth-of-type(even){
            transform: translateX(-300%);
        }
        &.show{
            transform: translateX(0);
        }
    }
}